@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");
@import "tailwindcss";

:root {
  --background: #232d3f;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}
